@import url("https://fonts.googleapis.com/css2?family=Lusitana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4@wght:800&display=swap");
@import url("https://use.typekit.net/zim0dvu.css");

.content {
  font-family: "Lusitana";
  font-size: 17px;
}

.content p {
  text-align: justify;
}

.content a {
  color: #319795;
}

.content a:hover {
  text-decoration: underline;
}

.content h2 {
  font-family: "source-serif-pro";
  font-size: 25px;
  text-decoration: underline;
  padding-top: 15px;
  font-weight: 800;
}

.content ol {
  word-break: break-all;
  list-style-type: decimal;
}

.content ol li::before {
  content: "";
  width: 10px;
  display: inline-block;
}

.content ul {
  list-style: disc;
}

.content li {
  list-style-position: inside;
}

@media (max-width: 600px) {
  .content {
    font-size: 16px;
  }

  .content h2 {
    font-size: 21px;
  }
}
